.score{
		width:400px;
		height:50px;
		margin:auto;
		text-align:center;
		font-family: "Segoe Print";
		color: black;
		font-size: 24pt;
		font-weight: bold;
		border: 0px solid ;
		border-radius: 8px;
		padding-bottom:7px;
		background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
		box-shadow: 20px 10px 5px grey;
		}
#nScore{
		margin-left:49%;
		font-family: "Segoe Print";
		color: black;
		font-size: 24pt;
		font-weight: bold;
}

.button {
  display: inline-block;
  border-radius: 8px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00ab';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
body{
	background-image:url('sfondo.jpg');
	background-size:cover;}

#game{
	float:left;
	margin-left:50px;}
	
.tasto{
	width:500px;
	margin:auto;
	margin-bottom:10px;
	margin-top:10px;}







/*CSS PRIMA PAGINA HTML*/	


#inizio{
	background-color:red;}

a{
	text-decoration:none;
	color:white;}


#click{
		text-align:center;
		font-family: "Segoe Print";
		color: white;
		font-size: 24pt;
		font-weight: bold;
		border: 0px solid ;
		border-radius: 8px;
		padding-bottom:7px;
		background: linear-gradient(to right,#ff0066,#ff3366,#ff3377,#862d59,#75a3a3,#00FFB2,#33ff77);
		}	
.abc
	{ 	
		text-align:center;
		font-family: "Segoe Print";
		color: white;
		font-size: 92pt;
		margin-top:150px;
	}
	
div#nomiautori {
	text-align:center;
    padding: 20px;
    display: none;
	font-family: "Segoe Print";
	color: white;
}
    
span#autori {
width:200px;
text-align: center;
margin-left: 48%;
font-family: "Segoe Print";
color: white;}

span#autori:hover + div#nomiautori {
	text-align: center;
    display: block;
	font-family: "Segoe Print";
	color: white;
}